#videoContent {
  word-wrap: normal;
  font-size: 1vw;
  margin-top: 1vw;
}

#videoHeader {
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  max-height: 4vw;
  overflow: hidden;
}

.wrapper {
  max-height: 4vw;
}

#date {
  font-family: Blippo, fantasy;
  float: right;
  color: black;
}

#duration {
  font-family: Blippo, fantasy;
  text-align: left;
  color: black;
}

.aspect-ratio-box::after {
  display: block;
  content: "";
  /* 16:10 aspect ratio */
  padding-bottom: 62.5%;
}

.aspect-ratio-box {
  position: relative;
}

.aspect-ratio-box img {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  #duration,
  #date {
    font-size: 2vw !important;
  }
  #videoContent {
    font-size: 4vw;
  }
  #videoHeader {
    max-height: 16vw;
  }
  .wrapper {
    max-height: 16vw;
  }
}
